<h1><%= @chatroom.topic %></h1>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <%= render partial: 'messages/message', collection: @chatroom.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :content, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>